doctype html
html
	head
		title= 'Example 1'
		link(href='style.css', rel='stylesheet', type='text/css')
		script(src='../../vendor/leap.js')
		script(src="http://code.jquery.com/jquery-1.10.2.min.js")
		script(src='../leapmouse.js')
		script(src='example1.js')
	body
		div(class='browser')
			h1= 'Browser Dimensions'
			span(class='width')
			= ', '
			span(class='height')
		div(class='mouseCoords')
			h1= 'Mouse'
			span(class='x')
			= ', '
			span(class='y')
		div(class='leapCoords')
			h1= 'Leap'
			span(class='x')
			= ', '
			span(class='y')
			= ', '
			span(class='z')

